@font-face {
    font-family: 'OpenSansRegular';
    src: url("../fonts/Open_Sans/OpenSans.ttf");
}
body {
    background: rgb(236, 236, 255);
}
nav {
    text-decoration: none;
}
a {
    text-decoration: auto;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 18px;
}
* {
    font-size: 16px;
    font-family: OpenSansRegular;
    box-sizing: border-box;
}
.prew {
    width: 200px;
    height: 100px;
}
.new1 {
    background: url("../images/001.jpg");
    background-size: cover;
}
.new2 {
    background: url("../images/002.jpg");
    background-size: cover;
}
.new3 {
    background: url("../images/003.jpg");
    background-size: cover;
}
.naviki {
    display: flex;
    gap: 10px;
}
.naviki section {
    border: 1px solid black;
    padding: 5px;
}
.nav1 {
    background: rgb(37, 35, 35);
    background-size: cover;
}
.nav2 {
    background: rgb(37, 35, 35);
    background-size: cover;
}
.nav3 {
    background: rgb(37, 35, 35);
    background-size: cover;
}
.kurs {
    background: url("../images/IMG_20240127_141625.jpg");
    background-size: cover;
}
ul li {
    display: inline-block;
}
ul {
    background: rgb(188, 188, 255);
    border-radius: 6px;
}
li {
    padding: 10px;
}
.content  {
    display: flex;
}
.content main article {
    width: 250px;
    border: 1px solid black;
    padding: 0 10px;
}
.content section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.naviki {
    display: flex;
    flex-wrap: wrap;
}
.novosti main {
    width: 85%;
}
.novosti aside {
    width: 15%;
}
aside article p {
    margin-left: 10px;
}
